<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Spenote"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HitungPengeluaran"
        tools:targetApi="tiramisu">

        <!-- Form Activity -->
        <activity
            android:name=".FormActivity"
            android:exported="false" />

        <!-- SignUp Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- SignIn Activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <!-- Splash Activity: satu-satunya launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddPengeluaran Activity -->
        <activity
            android:name=".view.fragment.pengeluaran.add.AddPengeluaranActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- AddPemasukan Activity -->
        <activity
            android:name=".view.fragment.pemasukan.add.AddPemasukanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>
